/* 
------HEADER & HERO------- */
body {
  width: 100%;
}

.team-name {
  background-color: #099d8d;
  height: 60px;
  padding: 15px 80px;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #14d9c4;
  color: white;
  height: 45px;
  opacity: 0.9;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  font-weight: bold;
}

.ul-style-nav {
  display: flex;
}

.team-li {
  margin: 10px 15px 0 0;
  height: 30px;
}

.about-us-li {
  height: 30px;
  margin: 10px 15px 0;
}

.contact-li {
  height: 30px;
  margin: 10px 0 0 15px;
}

.header-image {
  background-image: url("../imagen-hero.jpeg");
  height: 421px;
  margin: 0 0 46px;
  position: relative;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 350px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 14px 15px 16px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  transform: translateY(-100%);
}

:root {
  --brand-color: #099d8d;
  --names-color: #000;
  --general-text-color: #54585a;
  /* OpenSans ¿? */
}

.adalabers {
  background-color: #fff;
  width: 320px;
  height: fit-content;
  padding: 30px 15px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.adalabers-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titles {
  font-family: "Rubik", sans-serif;
  color: var(--brand-color);
  font-size: 24px;
  line-height: 45px;
  text-align: center;
}
.adalabers-images {
  width: 180px;
  height: 180px;
  margin: 30px 0 15px 0;
  border: 5px rgba(0, 0, 0, 0.08) solid;
  border-radius: 4px;
}
.adalabers-names {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  color: var(--names-color);
}
.adalabers-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--general-text-color);
}

.about-us {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

/* .rectangle {
  width: 30px;
  height: 30px;
  transform: rotate(45deg) translate(-50%, -50%);
  background-color: pink;
} */
/* -------FORTALEZAS Y DEBILIDADES------- */
.strengths-and-weakness {
  background-color: rgba(184, 184, 185, 0.2);
}
.rectangle {
  width: 30px;
  height: 30px;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: white;
}

.fortalezas {
  padding-bottom: 30px;
}
.debilidades {
  padding-bottom: 46px;
}
/* -------------------------------- FOOTER----------------------------------- */
footer {
  width: 100%;
  height: 250px;
  border-top: 1px solid #b8b8b9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-bottom: 45px;
  padding-top: 30px
}
.footer-copyright {
  color: #b8b8b9;
}
.footer-img {
  width: 115.9px;
  height: 45px;
  order: 1;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  font-weight: 600;
}
.footer-nav-a {
  color: var(--general-text-color);
  text-decoration: none;
}
