<section class="adalabers" id="adalabers">
  <div class="container">
    <h2 class="titles">QUIÉNES SOMOS</h2>
    <include
      src="./adalabers-article.html"
      imageName="Sofia-Blas"
      name="Sofía Blas"
      text="Madrid. Edición de vídeo, animación y 3D. Si algo tiene claro es que quiere seguir trabajando con ordenadores toda la vida. Ahora quiere
    conocer cómo piensan y se ha lanzado de lleno al mundo de la
    programación."
      twitter="https://twitter.com/"
      linkedin="https://www.linkedin.com/in/sof%C3%ADa-blas-manzano-151611b2/"
      github="https://github.com/SofiaBManzano"
      mail="mailto:sofiabmanzano@gmail.com"
    ></include>

    <include
      src="./adalabers-article.html"
      imageName="Esther-Fernandez"
      name="Esther Fernández"
      text="Vitoria. Diseñadora gráfica y de Experiencia de Usuario reconvertida en Frontend Developer, está empeñada en trasladar lo aprendido como UX al desarrollo web y sacarle el máximo provecho."
      class="reverse"
      twitter="https://twitter.com/e_fflorez"
      linkedin="https://www.linkedin.com/in/esther-fernandez-florez/"
      github="https://github.com/GitTher"
      mail="mailto:estherfernandezflorez@gmail.com"
    ></include>

    <include
      src="./adalabers-article.html"
      imageName="Angeles-Martinez"
      name="Ángeles Martínez"
      text="Madrid. Aquí Ángeles, estudiante de front-end con una gran mochila de experiencias laborales diversas. En origen filóloga, luego un breve paso por la educación infantil y ahora embarcada en este nuevo reto."
      twitter="https://twitter.com/"
      linkedin="https://www.linkedin.com/in/angeles-martinez-barrio/"
      github="https://github.com/AngelesMB"
      mail="mailto:angeles.martinezbarrio@gmail.com"
    ></include>

    <include
      src="./adalabers-article.html"
      imageName="Norma-Rivas"
      name="Norma Rivas"
      text="Madrid. Apasionada de las tecnologías, Norma es una periodista que se reprogramó y se convirtió en Web Developer. Le encanta formarse y
    trabajar cada día para ser mejor. Comprometida con el trabajo en equipo, para ella todo es una buena oportunidad para crecer tanto personal como profesionalmente."
      class="reverse"
      twitter="https://twitter.com/NormaRivas_"
      linkedin="https://linkedin.com/in/normarivas"
      github="https://github.com/NormaDeveloper"
      mail="mailto:normarivasmadrid@gmail.com"
    ></include>

    <include
      src="./adalabers-article.html"
      imageName="Maria-Rodriguez"
      name="María Rodríguez"
      text="Ciudad Real. Viviendo en Madrid. Ilustradora, tatuadora y con formación en diseño. Actualmente, viviendo el plot twist de su vida para convertirse en programadora web. Sus puntos fuertes a aportar en este ámbito son la estética y el perfeccionismo; los números no tanto,
    pero todo se andará."
      twitter="https://twitter.com/mariro_ilustra"
      linkedin="https://linkedin.com/in/maría-rodríguez-parra-53762b225"
      github="https://github.com/mariarguezp"
      mail="mailto:mariarguezp5@gmail.com"
    ></include>
  </div>
</section>
