<article class="adalabers-article @@class">
  <img src="./assets/images/@@imageName.jpg" alt="" class="adalabers-images" />
  <div class="adalabers-description">
    <h4 class="adalabers-names">@@name</h4>
    <p class="text">@@text</p>

    <span>
      <a href="https://twitter.com/" target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>
      <span class="dot">·</span>
      <a
        href="https://www.linkedin.com/in/sof%C3%ADa-blas-manzano-151611b2/"
        target="_blank"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <span class="dot">·</span>
      <a href="https://github.com/SofiaBManzano" target="_blank"
        ><i class="fab fa-github-alt"></i
      ></a>
      <span class="dot">·</span>
      <a href="mailto:sofiabmanzano@gmail.com " target="_blank"
        ><i class="fas fa-envelope"></i
      ></a>
    </span>
  </div>
</article>
