<article class="adalabers-article @@class">
  <img src="./assets/images/@@imageName.jpg" alt="" class="adalabers-images" />
  <div class="adalabers-description">
    <h4 class="adalabers-names">@@name</h4>
    <p class="text">@@text</p>
  <!-- <div class="adalabers-links"> -->
    <a href="@@twitter" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
    <span class="dot">·</span>
    <a href="@@linkedin" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <span class="dot">·</span>
    <a href="@@github" target="_blank">
      <i class="fab fa-github-alt"></i>
    </a>
    <span class="dot">·</span>
    <a href="@@mail" target="_blank">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
<!-- </div> -->

</article>
