<article class="adalabers-article @@class">
  <img src="./assets/images/@@imageName.jpg" alt="adalaber profile picture" title="adalaber profile picture" class="adalabers-images" />
  <div class="adalabers-description">
    <h4 class="adalabers-names">@@name</h4>
    <p class="adalabers-content text">@@text</p>
    <span class="adalabers-links">
    <a href="@@twitter" target="_blank">
      <i class="fab fa-twitter socialNetwork"></i>
    </a>
    <span class="dot">·</span>
    <a href="@@linkedin" target="_blank">
      <i class="fab fa-linkedin-in socialNetwork"></i>
    </a>
    <span class="dot">·</span>
    <a href="@@github" target="_blank">
      <i class="fab fa-github-alt socialNetwork"></i>
    </a>
    <span class="dot">·</span>
    <a href="@@mail" target="_blank">
      <i class="fas fa-envelope socialNetwork"></i>
    </a>
  </span>
  </div>
</article>
