<section class="about-us" id="about-us">
    <div class="container">
      <h2 class="title-contact">Contacto</h2>
      <p class="text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi numquam optio necessitatibus tempora voluptatibus adipisci veritatis soluta. Veniam natus omnis eos, maxime dolore doloribus sit voluptate corrupti quas dolorem.
      </p>
      <small>
        <p class="text small">
            Todos los campos marcados con <span class="text star">*</span> son obligatorios.
        </p>
      </small>
    </div>
  </section>