<section class="contact-description" id="contact-description">
  <div class="container">
    <h2 class="title">Contacto</h2>
    <p class="text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi numquam optio necessitatibus tempora
      voluptatibus adipisci veritatis soluta. Veniam natus omnis eos, maxime dolore doloribus sit voluptate corrupti
      quas dolorem.
    </p>
    <p class="text small">
      Todos los campos marcados con <span class="text star">*</span> son obligatorios.
    </p>
  </div>
</section>