<section class="contactDescription" id="contact-description">
  <div class="container">
    <h2 class="contactDescription__title">Contacto</h2>
    <p class="text">
      Si deseas consultar mayor información sobre nuestros servicios o tienes
      alguna duda al respecto, no dudes en contactar con nosotras, te haremos
      una oferta que no podrás rechazar...
    </p>
    <p class="text small">
      Todos los campos marcados con <span class="text star">*</span> son
      obligatorios.
    </p>
  </div>
</section>
