<footer class="footer">
  <div class="footer-container">
    <p class="footer-copyright">The Godmothers © 2021</p>
    <img
      class="footer-img"
      src="./images/logo-adalab-sm.png"
      alt="logo-adalab"
    />
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li>
          <a class="footer-nav-a" href="./index.html#about-us">EQUIPO</a>
        </li>
        <li>
          <a class="footer-nav-a" href="./index.html#adalabers"
            >QUIÉNES SOMOS</a
          >
        </li>
        <li><a class="footer-nav-a" href="./contact.html">CONTACTO</a></li>
      </ul>
    </nav>
  </div>
</footer>
