<header class="header-image">
  <div class="team-name">
    <h1><a class="team-name-link" href="./index.html">THE GODMOTHERS</a></h1>
  </div>

  <nav class="nav">
    <ul class="ul-style-nav">
      <li class="team-li">
        <a class="main-nav-a" href="./index.html#about-us">EQUIPO</a>
      </li>

      <li class="about-us-li">
        <a class="main-nav-a" href="./index.html#adalabers">QUIÉNES SOMOS</a>
      </li>

      <li class="contact-li">
        <a class="main-nav-a" href="./contact.html">CONTACTO</a>
      </li>
    </ul>
  </nav>

  <span class="hero-text">
    <p>El front es como la mafia. Una vez dentro, no hay forma de salir.</p>
  </span>
</header>
