<section class="strengths-and-weakness">
  <div class="rectangle"></div>
  <div class="container strengths-and-weakness-div">
    <article class="strengths">
      <h2 class="title-strengths-and-weakness">Fortalezas</h2>
      <p class="text">
        <!-- Disparamos código con pasión, curiosidad, positividad, proactividad,
        capacidad analítica, adaptabilidad, aprendizaje rápido y atención al
        detalle. -->
        Disparamos código con pasión, curiosidad y capacidad analítica. Para
        nosotras la positivadad, el buen humor y el optimismo son la clave para
        obtener los mejores resultados. La adaptabilidad, el rápido aprendizaje
        y los detalles son nuestras armas.
      </p>
    </article>
    <article class="weakness">
      <h2 class="title-strengths-and-weakness">Debilidades</h2>
      <p class="text">
        Solíamos dedicar demasiado tiempo a nuestros trabajos, pero hemos
        aprendido a ser más eficientes. Estábamos entusiasmadas con los nuevos
        proyectos y sin darnos cuenta nos sobrecargábamos. Ahora nos conocemos y
        nos organizamos mejor.
      </p>
    </article>
  </div>
</section>
