<section class="strengths-and-weakness">
  <div class="strengths-and-weakness__rectangle"></div>
  <div class="container strengths-and-weakness__div">
    <article class="strengths-and-weakness__strengths">
      <h2 class="strengths-and-weakness__title">Fortalezas</h2>
      <p class="text">
        Disparamos código con pasión, curiosidad y capacidad analítica. Para
        nosotras la positividad, el buen humor y el optimismo son la clave para
        obtener los mejores resultados. La adaptabilidad, el rápido aprendizaje
        y los detalles son nuestras armas.
      </p>
    </article>
    <article class="strengths-and-weakness__weakness">
      <h2 class="strengths-and-weakness__title">Debilidades</h2>
      <p class="text">
        Solíamos dedicar demasiado tiempo a nuestros trabajos, pero hemos
        aprendido a ser más eficientes. Estábamos entusiasmadas con los nuevos
        proyectos y sin darnos cuenta nos sobrecargábamos. Ahora nos conocemos y
        nos organizamos mejor.
      </p>
    </article>
  </div>
</section>
