<section class="strengths-and-weakness">
    <div class="rectangle"></div>
    <div class="container">
      <article class="strengths">
        <h2 class="title-strengths-and-weakness">Fortalezas</h2>
        <p class="text">
          Disparamos código con pasión, curiosidad, positividad,
          proactividad, capacidad analítica, adaptabilidad, aprendizaje
          rápido y atención al detalle.
        </p>
      </article>
      <article class="weakness">
        <h2 class="title-strengths-and-weakness">Debilidades</h2>
        <p class="text">
          Solíamos dedicar demasiado tiempo a cada uno de nuestros trabajos,
          pero hemos aprendido a ser más eficientes. Estábamos entusiasmadas
          con los nuevos proyectos y sin darnos cuenta nos sobrecargábamos.
          Ahora hemos aprendido a reconocer nuestros límites y a
          organizarnos mejor.
        </p>
      </article>
    </div>
  </section>