.adalabers {
  // Cada bloque adalaber uno debajo del otro
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // Título principal sección
  &-mainTitle {
    font-family: var(--title-font-family);
    color: var(--brand-color);
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    margin: 15px 0 30px;
  }
  // Imagen y texto/items uno debajo del otro
  &-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 50px;
    // Imagen y texto/items uno al lado del otro
    @include tablet {
      flex-direction: row;
    }
    // Alineamos texto e items a la izq pegados a la foto
    & .adalabers-description {
      @include tablet {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    // Estilo texto alineado a la izquierda
    & .text {
      @include tablet {
        text-align: left;
      }
    }
    // Solo a partir de tablet los article con clase reverse se alternan izq der
    &.reverse {
      @include tablet {
        flex-direction: row-reverse;
      }
      // Alineamos texto e items a la der pegados a la foto
      & .adalabers-description {
        @include tablet {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
      }
      // Estilo texto alineado a la derecha
      & .text {
        @include tablet {
          text-align: right;
        }
      }
    }
  }
  // Fijamos tamaños img
  &-images {
    width: 180px;
    height: 180px;
    margin-bottom: 15px;
    border: 5px rgba(0, 0, 0, 0.08) solid;
    border-radius: 4px;
    @include tablet {
      width: 205px;
      height: 205px;
      margin: 0px 30px 0px 30px;
    }
    @include desktop {
      width: 278px;
      height: 278px;
      margin: 0px 45px 0px 45px;
    }
  }
  // Estilos títulos nombres
  &-names {
    font-family: var(--primary-font-family);
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: var(--black-color);
  }
  // Centramos enlaces
  &-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    // Estilos iconos y puntos entre ellos
    & .socialNetwork {
      margin: 15px 3px 0;
      font-size: 16px;
      line-height: 30px;
      color: var(--brand-color);
      display: inline;
      padding: 2px;
      transition: all 0.5s ease;
      &:hover {
        border: 1px solid var(--secondary-color);
        box-shadow: 0 0 15px var(--brand-color);
      }
    }
    & .dot {
      font-size: 16px;
      font-family: var(--primary-font-family);
      color: var(--brand-color);
      padding: 2px;
    }
  }
}
