.contact-description {
  margin-top: -16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    margin-top: 0;
  }
  &__title {
    line-height: 45px;
    color: var(--brand-color);
    font-family: var(--title-font-family);
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }
  &__small {
    font-size: 12px;
    font-family: var(--primary-font-family);
    line-height: 24px;
    text-align: center;
    color: var(--grey-color);
    margin-top: 15px;
    &--star {
      font-family: var(--primary-font-family);
      line-height: 24px;
      text-align: center;

      margin-top: 15px;
      font-size: 12px;
      color: var(--secondary-color);
    }
  }
}
.text {
  @include tablet {
    max-width: 442px;
  }
  @include desktop {
    max-width: 601px;
  }
}
