.team-name {
  background-color: var(--brand-color);
  height: 60px;
  padding: 15px 80px;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--title-font-family);
  font-size: 16px;
  font-weight: bold;

  @include tablet {
    padding: 0;
    width: 100%;
    justify-content: flex-start;
  }
}

.team-name h1 {
  @include tablet {
    margin-left: 45px;
  }
  @include desktop {
    margin-left: 142px;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  color: white;
  height: 45px;
  opacity: 0.9;
  font-family: var(--title-font-family);
  align-items: center;
  font-weight: bold;

  @include tablet {
    height: 60px;
    opacity: 0.95;
    background-color: var(--brand-color);
    width: 100%;
    justify-content: flex-end;
  }
}

.main-nav-a {
  color: white;
  font-size: 15px;

  @include tablet {
    font-size: 15px;
  }
}

.ul-style-nav {
  display: flex;

  @include tablet {
    margin-right: 45px;
  }
  @include desktop {
    margin-right: 138px;
  }
}

.team-li {
  margin-left: 15px;
  line-height: 30px;
  height: 30px;
}

.about-us-li {
  margin-left: 15px;
  height: 30px;
  line-height: 30px;
}

.contact-li {
  margin-left: 15px;
  height: 30px;
  line-height: 30px;
}

.header-image {
  background-image: url("../images/hero-grande.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 421px;
  margin: 0 0 46px;
  position: relative;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 350px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 14px 15px 16px;
  background-color: white;
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-weight: 600;
  transform: translateY(-100%);
  white-space: normal;
  text-align: justify;

  @include tablet {
    opacity: 0.8;
    width: 441px;
    padding: 0;
    margin: 0 0 0 46px;
    position: absolute;
    transform: translateY(0);
    bottom: 0;
  }

  @include desktop {
    margin-left: 138px;
    font-size: 24px;
    line-height: 30px;
    height: 90px;
    width: 574px;
  }
}

.hero-text p {
  @include tablet {
    margin: 15px 30px;
  }
}
.contact .hero-text {
  display: none;
}
@media all and (min-width: 768px) {
  .header-image {
    background-image: url("../images/hero-desktop-sinlogo.jpg");
  }
}

.contact .header-image {
  background-image: url("../images/contact-v1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin: 0 0 46px;
  position: relative;
}
.logo {
  width: 100vw;
  height: 421px;
  margin: 0 0 46px;
  position: absolute;
  display: flex;
  justify-content: center;
  &__title {
    width: 100vw;
    height: 421px;
    font-family: godfather;
    color: white;
    margin-bottom: 50px;
    font-size: 90px;
    text-transform: capitalize;
    position: relative;
    transform: translate(20%, 15%);
    word-spacing: 100vw;
    line-height: 70px;
    transform-origin: center;
    animation-name: intro;
    animation-duration: 3s;
    animation-iteration-count: 1;
    @keyframes intro {
      from {
        opacity: 0;
        letter-spacing: 10px;
      }
      to {
        opacity: 1;
        letter-spacing: 1;
      }
    }
  }
  &__computer {
    position: absolute;
    width: 110px;
    transform: translate(150%, 80%) scale(1);
    opacity: 1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: opacity;
    @keyframes opacity {
      0% {
        opacity: 0;
      }
      25% {
        transform: translate(150%, 80%) scale(1.05);
        opacity: 0;
      }
      100% {
        transform: translate(150%, 80%) scale(1);

        opacity: 1;
      }
    }
  }
}
