.strengths-and-weakness {
  background-color: rgba(184, 184, 185, 0.2);

  @include tablet {
    height: 333px;
  }

  @include desktop {
    height: 309px;
  }

  &__rectangle {
    width: 30px;
    height: 30px;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: white;
  }

  &__title {
    font-family: var(--title-font-family);
    color: var(--brand-color);
    font-size: 22px;
    line-height: 45px;
    text-align: center;
  }

  &__strengths {
    padding-bottom: 15px;
  }

  &__weakness {
    padding-bottom: 30px;
  }

  @include tablet {
    &__div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__weakness,
    &__strengths {
      width: 324px;
      padding: 0px 15px 0px;
      box-sizing: content-box;
    }
  }
}
